<h1>{{title}}</h1>
<a href="/contact/register">
    <button class="btn btn-primary">Novo Contato</button>
</a>
<hr>
<section id="personList">
    <table class="table">
        <thead class="bg-dark text-light">
            <tr>
                <th scope="col">Ações</th>
                <th scope="col">ID</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descrição</th>
                <th scope="col">Pessoa</th>
            </tr>
        </thead>
        <tbody>
            {{registers}}
        </tbody>
    </table>
</section>
<hr>